<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kirimin.annictroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="me.kirimin.annictroid.Annictroid"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.kirimin.annictroid.top.TopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.kirimin.annictroid.episode.EpisodeActivity" />
        <activity android:name="me.kirimin.annictroid.work.WorkActivity" />
        <activity android:name="me.kirimin.annictroid.auth.AuthActivity" />
        <activity
            android:name="me.kirimin.annictroid.settings.SettingsActivity"
            android:theme="@style/SettingsTheme" />
        <activity android:name="me.kirimin.annictroid.settings.AboutActivity" />
        <activity android:name="me.kirimin.annictroid.settings.LicenseActivity" />

        <receiver android:name="me.kirimin.annictroid.notification.ProgramReceiver" />
        <receiver android:name="me.kirimin.annictroid.notification.TimerSetReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>